*{
    margin: 0;
    padding: 0;    
}
body{
background-image: url(imagens/espaco.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
figure {
    background-image: url(imagens/astronauta.png);
    background-position: center center;
}

